# =========================
# 1) outputs / experiments
# =========================
out_dir*/
out_dir
out_dir*
*out_dir*

# 你这里有带引号、带=号的 out_dir 目录，也要排除
'out_dir*'
out_dir_*


# =========================
# 2) datasets
# =========================
data/
test_data/
pretrained_models/

# =========================
# 3) logs / cache / tmp
# =========================
log/
logs/
*.log
*.tmp

__pycache__/
*.pyc

# tensorboard
runs/
events.out.tfevents.*

# checkpoints (如果你有)
*.pth
*.pt
*.ckpt


# =========================
# 4) system
# =========================
.DS_Store
Thumbs.db
