# 忽略输出目录
*.pth
out_dir/
out_dir_暴力裁剪/
out_dir_原论文/
out_dir_crop/
out_dir_supcon_withlabel/
pretrained_models/
test_data/
data/
# 忽略 VSCode 配置文件夹
.vscode/

# 忽略 Python 缓存文件
__pycache__/
*.pyc

# 忽略虚拟环境目录
.env/
venv/
